Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==2.0.2
Unidecode==0.04.18
Werkzeug==0.10.4
gnureadline==6.3.3
ipython==3.2.0
itsdangerous==0.24
jsonschema==2.5.1
mistune==0.6
numpy==1.9.2
pandas==0.16.2
ptyprocess==0.5
python-dateutil==2.4.2
python-slugify==1.1.2
pytz==2015.4
pyzmq==14.7.0
six==1.9.0
terminado==0.5
tornado==4.2
